body {
  background-image: url("p6.avif");
}
h1
{
    text-align: center;
    font-family:Cambria;
    
    background-color:cornsilk;
}
p{
    color:brown;
}
    
ul {
  list-style-type:circle;
  margin: 400;
  padding: 200;
  width: 100px;
} 
